doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD OBRAS
    link(rel="stylesheet", href="/styles.css")

  body
    header
      h1 Sistema CRUD Obras
      nav
        a(href="/jobs/view") Inicio
        |  |  
        a(href="/jobs/new") Nueva obra

    hr

    block content

    hr

    footer
      p Proyecto Node.js con JSON