doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD OBRAS
    link(rel="stylesheet", href="/css/style.css")

  body
    header
      nav
        a(href="/jobs/view") Obras
        |  |  
        a(href="/jobs/new") Nueva obra
        |  |
        a(href="/login") Cerrar sesión 

      h1 Sistema CRUD Obras

    hr

    block content

    hr

    footer
      p Proyecto Node.js con JSON