extends layout

block content
  .new-container
    .form-card
      h2 Nueva obra
      form(method="POST", action="/jobs")
        label(for="name") Nombre:
        input(type="text" name="name" required)

        label(for="location") Ubicación:
        input(type="text" name="location" required)

        label(for="director") Director:
        input(type="text" name="director" required)

        label(for="status") Estado:
        input(type="text" name="status" required)

        label(for="startDate") Fecha de inicio:
        input(type="date" name="startDate" required)

        label(for="estimateEndDate") Fecha de fin estimada:
        input(type="date" name="estimateEndDate" required)

        button(type="submit") Guardar